# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test
*.test
*.out

# Dependencies
vendor/

# VS Code
.vscode/

# Node
frontend/node_modules/

# Logs
*.log

# Database
*.db
*.sqlite

# OS files
.DS_Store
Thumbs.db
